body{
    font-family: "Microsoft JhengHei";
    font-size: 1.2rem;
    background-color: rgb(243, 243, 243);

}
a {
    color: #009ced;
    text-decoration: none;
}

a:hover {
    color: #0081c3;
    text-decoration: none;
}
td {
    border: 1px solid #ddd;
}
span{
    font-size: 1.5rem;
}
p{
    font-size: 1.5rem;
}
.rowheader{
    box-shadow: 0 0 30px 0 rgba(0,123,255,0.20);
    height: 64px
}
.msno 
{
    width: 450px;
    height: 300px;
}
.factor 
{
    width: 600px;
    height: 300px;
    margin: 20px 10px;
}
.cabar 
{
    width: 600px;
    height: 300px;
    margin: 20px 10px;
}

.box 
{
    width: 300px;
    height: 500px;
    margin: 20px 10px;
}
.joint 
{
    width: 500px;
    height: 500px;
    margin: 20px 10px;
}
.pie 
{
    width: 500px;
    height: 500px;
    margin: 20px 10px;
}